{% extends 'admin.html' %}
{% block content %}
<div class="tab-content">
  <<div id="show" class="tab-pane fade in active">
    <table>
        <tr>

            <td><h2>欢迎您，管理员!</h2></td>
            <td><button class="btn btn-default" type="button" style="background-color: DeepSkyBlue;margin-left: 1150px"><a href="/logout" style="color:black">退出系统</a></button></td>

        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../static/images/狗2.jpg" border=0 width="700" height="600" style="margin: 60px auto"></td>
            <td><img src="../static/images/狗1.gif" border=0 width="700" height="600" style="margin: 60px 60px"></td>
        </tr>
    </table>

  </div>
</div>
{% endblock %}